.navbarHeight{
    margin-top: 70px;
}

.form{
    color: #212529 !important;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.login{
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;

}