:root {
  --orange: #FF4500;
  --yellow: #c5fe00;
  --light: #e8e8e8;
  --dark: #141414;
  --lightDark: #3d3d3d;
}

html, body {
  overflow: auto !important; /* Ensure this is set to auto or scroll */
  background-color: #141414;
}

.fit-content {
  width: fit-content;
}


.bg-darkcolor{
  background-color: var(--dark);
}

.cursor-pointer{
  cursor: pointer;
  width: fit-content;
}

body{
  color: rgba(255, 255, 255, 0.938);
  background-color: #141414;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background:#000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background:  #dedede;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d7d5d5;
}



.content{
  font-size: 1.3rem;
  text-align: justify;
  margin-bottom: 25px;
  text-indent: 50px;
}

.open-sans-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}




