.homePage {
  position: relative;
  overflow: hidden;
  height: auto;
}

.bg-video {
  padding-top: 0;
  margin-top: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  background-color: black;
  filter: brightness(0.8);
}

.w-90 {
  width: 90%;
}

.hero-section {
  height: 100%;
}

.hero-text {
  font-size: 2.9rem;
  height: 130px;
  line-height: 55px;
}

.hero-section p {
  font-size: large !important;
}

@media (max-width: 767px) {
  .hero-text {
    height: 190px;
    margin-top: 150px;
  }
  .hero-section span {
    font-size: 2.4rem;
  }
}

@media (min-width: 767px) {
  .w-md-75 {
    width: 75%;
  }
  .h-100lvh {
    height: 100lvh;
  }
}

.glass {
  backdrop-filter: blur(5px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.129);
  border-radius: 20px;
}

.gridBg {
  background-color: var(--dark);
  background-image: linear-gradient(
      0deg,
      transparent 24%,
      var(--lightDark) 25%,
      var(--lightDark) 26%,
      transparent 27%,
      transparent 74%,
      var(--lightDark) 75%,
      var(--lightDark) 76%,
      transparent 77%,
      transparent
    ),
    linear-gradient(
      90deg,
      transparent 24%,
      var(--lightDark) 25%,
      var(--lightDark) 26%,
      transparent 27%,
      transparent 74%,
      var(--lightDark) 75%,
      var(--lightDark) 76%,
      transparent 77%,
      transparent
    );
  background-size: 50px 50px;
  background-position: center;
}

.bg-glow {
  filter: drop-shadow(0px 0px 1.5px white);
}

.bg-blob {
  border-radius: 78% 22% 49% 49% / 50% 65% 35% 50%;
  background-color: var(--yellow);
  box-shadow: 1px 1px 10px black;
}

.hero-text {
  animation-name: animated-text;
  animation-duration: 0.75s;
}

@keyframes animated-text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
