.chatList {
  max-height: 70vh;
  overflow: scroll;
  overflow-x: hidden;
  border-radius: 5px;
}

.chat-box {
  height: 50%;
}

.chatMessage {
  background-color: rgba(240, 248, 255, 0.356);
  width: fit-content;
  border-radius: 5px;
  padding: 5px;
  max-width: 65%;
}

.chat {
  cursor: pointer;
}

.modal-body {
  height: 70vh;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto; 
}

.close {
  cursor: pointer;
}

.w-95 {
  width: 95%;
}

.fs-8 {
  font-size: 12.5px;
}

.opacity-65 {
  opacity: 65;
}

.bg-lightYellow {
  background-color: #ffdf7e !important;
}

.chatBanner * {
  overflow: hidden;
}

.chatUsername {
  width: calc(100% - 100px) !important;
  overflow: hidden !important;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: fit-content;
}

.msg {
  animation-name: msg;
  animation-duration: .1s;
}

@keyframes msg {
  from {
    opacity: .5;
  }
  to {
    opacity: 1;
  }
}

.chat-banner {
  animation-name: banner;
  animation-duration: .2s; 
}


@keyframes banner {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.chatInputBox{
  border-radius: 7px;
}