/* listPage.css */
.listPage {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  color: var(--light);
}


.listPage .d-flex {
  display: flex;
  flex-wrap: nowrap;
}

.filterAndCards {
  flex: 1.25;
}

.listPageContainer {
  height: auto;
}

.blink {
  animation: blinkAnimation 1s infinite;
}

@keyframes blinkAnimation {
  0% {
    color: var(--light);
  }
  100% {
    color: var(--dark);
  }
}

.no-more-jobs{
  color: var(--light);
}

.listPageMap {
  flex-grow: .75;
  flex-shrink: 0;
  flex-basis: 0;
  position: sticky;
  top: 70px; /* Adjusted to make the map sticky at the top with a 70px offset */
  padding-left: 1rem;
  padding-right: 1rem;
  overflow: hidden;
}

@media (min-width: 768px) {
  .listPageMap {
    display: block;
  }
}
